.App {
  text-align: center;
  background-color: lawngreen;
  padding: 50px;
  color: rgb(2, 112, 112);

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#container {
  display: flex;
  justify-content: center;
}

.todoListMain {
  color: cyan;

}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 275px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: rgb(2, 112, 112);
  color: #FFF;
  border: 2px solid ;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 400px;
} 
.todoListMain .theList li {
  color: #333;
  background-color: rgb(2, 112, 112);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
ul.theList {
  padding: 0;
}

.searchAppForm input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 275px;
}

.searchAppForm button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: rgb(2, 112, 112);
  color: #FFF;
  border: 2px solid ;
}